        .back-button {
        display:flex;
        align-items:center;
        justify-content:center;    
        cursor: pointer;    
        width: 150px;
        height:150px;
        position: fixed;
        top: 30%;
        left:0;
        margin: 0;
        background-color: #fff;
        box-shadow: 12px 12px 12px -2px rgba(178,178,178,0.5);
        z-index: 1000;
          }
        
      @media (max-width:1099px){
          .back-button{     
          width:130px;
          height:130px;
        }    
      }         
        

     @media (max-width:768px){
     .back-button{     
      width:100px;
      height:100px;
        }    
         }  
        
        
    @media (max-width:500px){
        .back-button{     
         display: none;
         }    
     } 